[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
redis = "*"
pika = "*"
motor = "*"
bson = "*"
PyMySQL = "*"
cached-property = "*"

[dev-packages]
ipython = "*"
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
